<ion-content padding>

  <ng-container *ngIf="!announceService.ann.title">
    <ion-spinner></ion-spinner>
    <ion-label>Chargement...</ion-label>
  </ng-container>

  <ion-row>
    <ion-col col-12 *ngIf="announceService.ann.title">
      <h2>{{ announceService.ann.title }}</h2>
      <p *ngIf="announceService.ann.images.length == 0">Pas d'images pour cette annnonce.</p>
      <p>
        <img *ngFor="let src of announceService.ann.images" src="{{ src }}"/>
      </p>
      <h3>Description</h3>
      <p [innerHTML]="announceService.ann.descParagrapheHTML"></p>
      <h3>Prix</h3>
      <p class="price">
        {{ announceService.ann.price }} Ğ1
      </p>
      <p class="fees" *ngIf="announceService.ann.feesFloat">
        +{{ announceService.ann.fees }} Ğ1 (frais de transport)
      </p>
      <ng-container *ngIf="announceService.ann.type == 'Crowdfunding'">
        <h3>Financement (crowdfunding)</h3>
        <ion-col item-right class="range-col" text-center [ngClass]="{ 'nothing': !announceService.ann.pctFunded, 'success': announceService.ann.pctFunded >= 100, 'successing': announceService.ann.pctFunded >= 50 && announceService.ann.pctFunded < 100, 'starting': announceService.ann.pctFunded >= 10 && announceService.ann.pctFunded < 50 }">
          <h4 class="financed">Financé à {{ announceService.ann.pctFunded }} %</h4>
          <ion-range [(ngModel)]="announceService.ann.pctFunded" disabled>
          </ion-range>
        </ion-col>
        <ul>
          <li *ngFor="let p of announceService.ann.montants">
            Paiement de {{ (p.amount / 100).toFixed(2) }} Ğ1 par {{ p.issuer }}
          </li>
        </ul>

        <h3>Paiement</h3>
        <h5>Via Cesium</h5>
        <a target="_blank" href="https://g1.duniter.fr/#/app/transfer/{{ announceService.ann.pub }}">Lien de paiement</a>
        <h5>Via Sakia</h5>
        Envoyer de la monnaie :
        <ul>
          <li>à la clé publique <span class="code">{{ announceService.ann.pub }}</span></li>
          <li>avec commentaire <span class="code">GANNONCE:CROWDF:{{ announceService.ann.uuid }}</span> pour le suivi du crowdfunding</li>
        </ul>
        <h5>Via Silkaj</h5>
        <p>Lancer la commande suivante :</p>
        <span class="code">./silkaj transaction --auth-scrypt --amount={{ announceService.ann.price }} --output={{ announceService.ann.pub }} --comment="GANNONCE:CROWDF:{{ announceService.ann.uuid }}"</span>

      </ng-container>
      <ng-container *ngIf="announceService.ann.type != 'Crowdfunding'">
        <h3>Paiement</h3>
        <h5>Via Cesium</h5>
        <a target="_blank" href="https://g1.duniter.fr/#/app/transfer/{{ announceService.ann.pub }}">Lien de paiement</a>
        <h5>Via Sakia</h5>
        Envoyer de la monnaie :
        <ul>
          <li>à la clé publique <span class="code">{{ announceService.ann.pub }}</span></li>
        </ul>
        <h5>Via Silkaj</h5>
        <p>Lancer la commande suivante :</p>
        <span class="code">./silkaj transaction --auth-scrypt --amount={{ announceService.ann.price }} --output={{ announceService.ann.pub }} --comment="GANNONCE:ANN:{{ announceService.ann.uuid }}"</span>
      </ng-container>

      <h3>Stock</h3>
      <p *ngIf="announceService.ann.stock == 1">
        1 unité disponible.
      </p>
      <p *ngIf="announceService.ann.stock > 1">
        {{ announceService.ann.stock }} unités disponibles.
      </p>

      <ng-container *ngIf="announceService.ann.account">
        <h3>Vendeur</h3>
        <a class="author" [routerLink]="['/account/', announceService.ann.account.pub]">{{ announceService.ann.account.title }}</a>
      </ng-container>

      <p *ngIf="announceService.ann.pub == loginService.pub">
        <button ion-button [routerLink]="['/announce/edit', announceService.ann.uuid]">Modifier votre annonce</button>
      </p>
    </ion-col>
  </ion-row>

</ion-content>
