<ion-content padding>
  <ng-container *ngIf="!loginService.pub">
    <p>Vous êtes déconnecté. Vous pouvez néanmoins <a routerLink="/connect">vous reconnecter</a>.</p>
  </ng-container>
  <ng-container *ngIf="loginService.pub">

    <h2>Statut</h2>

    <!-- Compte inexistant -->
    <ng-container *ngIf="!accountService.acc">
      <p>
        <ion-badge item-left class="warn">Compte inexistant</ion-badge>
      </p>
      <p>
        Ce porte-monnaie n'a pas encore de compte de vendeur. Si vous possédez ce porte-monnaie, alors vous pouvez l'utiliser pour lui associer un compte de vendeur sur ğannonce.
      </p>
      <p>
        Si vous n'êtes pas le possesseur de ce porte-monnaie, vous ne pourrez pas créer le compte.
      </p>
      <p *ngIf="enoughMoney">
        <button ion-button color="primary" routerLink="/mon_compte/creer">Créer le compte de vendeur maintenant</button>
      </p>
      <p *ngIf="!enoughMoney">
        <ion-badge class="warn">Solde insuffisant</ion-badge>
      </p>
      <p *ngIf="!enoughMoney">
        Ce compte ne peut pas être créé pour le moment, car le porte-monnaie associé doit posséder au moins 1,00 Ğ1 pour réaliser cette opération.
      </p>
    </ng-container>

    <!-- Compte créé -->
    <ng-container *ngIf="accountService.acc">
      <p>
        <ion-badge item-left color="secondary">Créé</ion-badge>
      </p>
      <p>
        Ce compte est actif.
      </p>
      <p>
        <button ion-button color="primary" [routerLink]="['/account/edit', loginService.pub]">Modifier le compte de vendeur</button>
      </p>
    </ng-container>
    <h2>Porte-monnaie associé</h2>
    <p>
      <ion-badge item-left color="secondary">{{ loginService.pub }}</ion-badge>
    </p>
    <p>
      Il s'agit d'une clé publique valide, l'adresse d'un portefeuille Ğ1.
    </p>
  </ng-container>
</ion-content>
