<ion-content padding>
  <ng-container *ngIf="!loginService.pub">
    <p>Vous êtes déconnecté. Vous pouvez néanmoins <button (click)="loginService.showPrompt()">vous reconnecter</button>.</p>
  </ng-container>
  <ng-container *ngIf="loginService.pub">
    <h2>Statut</h2>
    <p>
      <ion-badge item-left class="warn">Inexistant</ion-badge>
    </p>
    <p>
      Ce compte n'existe pas encore, car il n'a pas été créé.
    </p>
    <p *ngIf="loginService.enoughMoney">
      <button ion-button color="primary">Créer le compte maintenant</button>
    </p>
    <p *ngIf="!loginService.enoughMoney">
      <ion-badge class="warn">Solde insuffisant</ion-badge>
    </p>
    <p *ngIf="!loginService.enoughMoney">
      Ce compte ne peut pas être créé pour le moment, car le porte-monnaie associé doit posséder au moins 1,00 Ğ1 pour réaliser cette opération.
    </p>
    <h2>Porte-monnaie associé</h2>
    <p>
      <ion-badge item-left color="secondary">{{ loginService.pub }}</ion-badge>
    </p>
    <p>
      Il s'agit d'une clé publique valide.
    </p>
    <h2>Activité</h2>
    <p>Ce compte n'a aucune activité pour le moment.</p>
  </ng-container>
</ion-content>
