connect {

  .logo {
    float: left;
    max-width: 100px;
    margin-top: 1.8rem;
    padding-right: 15px;
  }

  ion-item.left-radio {

    .item-inner {
      display: block !important;
      font-weight: bold;
    }

    .input-wrapper {
      float: right;
      width: 100%;
      padding-left: 27px;
    }

    ion-radio {
      margin-top: 14px !important;
    }
  }

  .connection {
    padding-left: 30px;
    //padding-bottom: 30px;
  }

  .descriptif {
    color: gray;
  }

  .help {
    padding: 20px;
    background-color: #f0f5ff;
  }
}
