<ion-content>
  <ion-row>
    <ion-col col-12 col-sm-12 col-lg-8>
      <ion-list-header>
        Aujourd'hui
      </ion-list-header>
      <ion-list id="home-list">
        <button ion-item *ngFor="let a of announces" routerLink="/announce/{{ a.uuid }}">
          <ion-avatar item-left>
            <img src="{{ a.thumbnail }}">
          </ion-avatar>
          <h2>{{ a.title }}</h2>
          <p>{{ a.desc }}</p>
          <h3 clear item-right>{{ a.price }} Ğ1</h3>
        </button>
      </ion-list>
      <ion-list-header>
        Hier
      </ion-list-header>
      <ion-list id="home-list2">
        <button ion-item *ngFor="let a of announces" routerLink="/announce/{{ a.uuid }}">
          <ion-avatar item-left>
            <img src="{{ a.thumbnail }}">
          </ion-avatar>
          <h2>{{ a.title }}</h2>
          <p>{{ a.desc }}</p>
          <h3 clear item-right>{{ a.price }} Ğ1</h3>
        </button>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
