<ion-content padding>
  <ion-searchbar
    *ngIf="searchEnabled"
    [(ngModel)]="search"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)"
    debounce="750"
    showCancelButton="true"
    cancelButtonText="Annuler"
    placeholder="Titre, vendeur, description, ..."
    (blur)="onBlur()"
    #searchbar>
  </ion-searchbar>

  <ng-container *ngIf="loading">
    <ion-spinner></ion-spinner>
    <ion-label>Chargement...</ion-label>
  </ng-container>
  <div class="pagination" *ngIf="announces.length == 0">
    <span *ngIf="search && search.length > 2">Aucune annonce trouvée pour « {{ search }} ».</span>
    <span *ngIf="search && search.length <= 2">Tapez au moins 3 caractères de recherche.</span>
    <span *ngIf="!search"></span>
  </div>

  <div class="pagination" *ngIf="announces.length > 0">
    <button ion-button small color="light" *ngIf="announces.length > 0" (click)="prevPage()" [disabled]="page == 1">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-label>
      Page {{ page }}/{{ pages }}
    </ion-label>
    <button ion-button small color="light" *ngIf="announces.length > 0" (click)="nextPage()" [disabled]="page == pages">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
    <select [(ngModel)]="limit" (change)="updatePage()">
      <option value="{{ lim }}" *ngFor="let lim of limits">{{ lim }} annonces par page</option>
    </select>
  </div>
  <ion-list-header *ngIf="announces.length > 0 && !search">
    Dernières annonces
  </ion-list-header>
  <ion-list-header *ngIf="announces.length > 0 && search">
    Résultats de la recherche
  </ion-list-header>
  <ion-list id="home-list" *ngIf="announces.length > 0">
    <button ion-item class="ligne" *ngFor="let a of announces" routerLink="/announce/{{ a.uuid }}">
      <ion-avatar item-left>
        <img *ngIf="a.thumbnail" src="{{ a.thumbnail }}">
        <div class="nophoto" *ngIf="!a.thumbnail">
          <ion-icon name="photos"></ion-icon>
        </div>
      </ion-avatar>
      <ion-col item-right>
        <h2>{{ a.title }} • <span class="author">{{ a.account.title }}</span></h2>
        <p>{{ a.descLigne }}</p>
      </ion-col>
      <ion-col item-right class="range-col" *ngIf="a.type == 'Crowdfunding'" text-center [ngClass]="{ 'nothing': !a.pctFunded, 'success': a.pctFunded >= 100, 'successing': a.pctFunded >= 50 && a.pctFunded < 100, 'starting': a.pctFunded >= 10 && a.pctFunded < 50 }">
        <span>Financé à {{ a.pctFunded }} %</span>
        <ion-range [(ngModel)]="a.pctFunded" disabled>
        </ion-range>
      </ion-col>
      <h3 clear item-right>{{ a.price }} Ğ1</h3>
    </button>
  </ion-list>
</ion-content>
