<ion-content padding text-center radio-group
             [(ngModel)]="connectionType"
             name="type"
             #type="ngModel">

  <h2 text-center>Authentification</h2>

  <ion-list>

    <ion-item class="left-radio">
      <ion-label>Par fichier trousseaux de clés</ion-label>
      <ion-radio value="file"></ion-radio>
    </ion-item>

    <ion-item class="left-radio">
      <ion-label>Par identifiants secrets</ion-label>
      <ion-radio value="brainwallet"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngIf="connectionType == 'file'">
      <ion-label>Mémoriser ce trousseau le temps de la session de navigation</ion-label>
      <ion-checkbox color="royal" [(ngModel)]="remember" checked="false"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="connectionType == 'file'">
      <div class="upload">
        <input id="custom-input" type="file" (change)="fileChangeListener($event)">
        <label for="custom-input" ion-button>Charger le fichier trousseau...</label>
      </div>
    </ion-item>
    <ion-item *ngIf="connectionType == 'brainwallet'">
      <ion-label>Identifiant secret</ion-label>
      <ion-input type="password"
                 [disabled]="computing"
                 [(ngModel)]="salt"
                 #saltinput
                 placeholder="Tapez votre identifiant secret."></ion-input>
    </ion-item>

    <ion-item *ngIf="connectionType == 'brainwallet'">
      <ion-label>Mot de passe</ion-label>
      <ion-input type="password"
                 [disabled]="computing"
                 [(ngModel)]="passwd"
                 placeholder="Tapez votre mot de passe." ></ion-input>
    </ion-item>

    <ion-item *ngIf="connectionType == 'brainwallet'" [hidden]="generated || salt || passwd">
      <ion-label>Tapez vos identifiants secrets puis cliquer sur « Valider ».</ion-label>
    </ion-item>
    <ion-item *ngIf="connectionType == 'brainwallet'" [hidden]="computing || !generated || salt || passwd">
      <ion-label class="info">Clé : {{ generated }}</ion-label>
    </ion-item>
    <ion-item [hidden]="computing || !error || salt || passwd">
      <ion-label class="note">{{ error }}</ion-label>
    </ion-item>
    <ion-item *ngIf="connectionType == 'brainwallet'" [hidden]="!computing">
      <ion-spinner item-left></ion-spinner>
      <ion-label>Vérification de la clé...</ion-label>
    </ion-item>
    <ion-item *ngIf="connectionType == 'brainwallet'">
      <ion-label>Mémoriser ces valeurs le temps de la navigation</ion-label>
      <ion-checkbox color="royal" [(ngModel)]="remember" checked="false"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="connectionType == 'brainwallet'">
      <ion-label>Ne plus me demander confirmation le temps de la navigation</ion-label>
      <ion-checkbox color="royal" [(ngModel)]="noConfirm" checked="false"></ion-checkbox>
    </ion-item>
  </ion-list>

  <p>
    <button ion-button [disabled]="computing || !(salt && passwd)" (click)="valideCle()" *ngIf="connectionType == 'brainwallet'">Valider</button>
    <button ion-button [disabled]="computing" color="light" (click)="cancel()">Annuler</button>
  </p>
</ion-content>
