router-outlet + * {
  width: 100%;
}

#logo {
  display: inline;
  height: 30px;
  position: relative;
  top: 9px;
  right: 3px;
}

#logo + span {
  line-height: 45px;
}

@media (min-width: 768px) {

  #topbar {
    margin-left: 270px;
  }

  .bar-button-menutoggle-md {
    display: none !important
  }
}

ion-menu .scroll-content {
  overflow: hidden;
}

account, announce_new, auth_modal {

  textarea {
    height: 200px;
    border-left: 1px dashed #ddd !important;
    padding-left: 15px !important;
  }

  .note {
    background-color: #fffae4;
    margin: 0px;
    padding: 13px 8px 13px 12px;
    border-left: 5px solid #efefae;
  }

  .info {
    background-color: #d9e4ff;
    margin: 0px;
    padding: 13px 8px 13px 12px;
    border-left: 5px solid #9aabff;
  }

  .error {
    background-color: #ffe0e0;
    margin: 0px;
    padding: 13px 8px 13px 12px;
  }

  .input-has-focus + .error {
    background-color: #d9e4ff;
    margin: 0px;
    padding: 13px 8px 13px 12px;
  }
}

form .input-wrapper ion-label {
  color: #444 !important;
}

.nophoto {
  vertical-align: middle;
  background-color: #eee;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: gray;
  font-size: 20px;
}

.nophoto ion-icon {
  position: relative;
  top: 8px;
  left: 10px;
}


input.pubkey {
  width: 420px;
  border: none;
  font-family: "Courier New";
  background-color: #e4ecf7;
  text-align: center;
}

.upload {

  input {
    display: none;
  }
}



.success {
  color: green;

  .range-bar {
    background: #00b200 !important;
  }

  .range-knob {
    background: #00b200 !important;
  }
}

.successing {
  color: orange;

  .range-bar {
    background: #fe6e11 !important;
  }

  .range-knob {
    background: #fe6e11 !important;
  }
}

.starting {
  color: #aeae00;

  .range-bar {
    background: #dfdf00 !important;
  }

  .range-knob {
    background: #dfdf00 !important;
  }
}

.nothing {
  color: gray;
}
