<ion-content padding>

  <ng-container *ngIf="!accountService.acc.title">
    <ion-spinner></ion-spinner>
    <ion-label>Chargement...</ion-label>
  </ng-container>

  <ion-row>
    <ion-col col-12 *ngIf="accountService.acc.title">
      <img class="logo" src="{{ accountService.acc.logo }}">
      <h2>{{ accountService.acc.title }}</h2>
      <pre>{{ accountService.acc.desc }}</pre>
      <h3>Porte-monnaie</h3>
      <input class="pubkey" type="text" disabled value="{{ accountService.acc.pub }}">
      <h3>Annonces</h3>
      <ion-list id="home-list">
        <button ion-item *ngFor="let a of announces" routerLink="/announce/{{ a.uuid }}">
          <ion-avatar item-left>
            <img *ngIf="a.thumbnail" src="{{ a.thumbnail }}">
            <div class="nophoto" *ngIf="!a.thumbnail">
              <ion-icon name="photos"></ion-icon>
            </div>
          </ion-avatar>
          <h2>{{ a.title }}</h2>
          <p>{{ a.desc }}</p>
          <h3 clear item-right>{{ a.price }} Ğ1</h3>
        </button>
      </ion-list>

      <p *ngIf="accountService.acc.pub == loginService.pub">
        <button ion-button [routerLink]="['/account/edit', accountService.acc.pub]">Modifier votre fiche</button>
      </p>
    </ion-col>
  </ion-row>

</ion-content>
